@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
    
    <body>
        <br />
        <div style="text-align:center;">
            <img src="~/Content/Assets/Img/Thank-you.jpg" style="width:500px;height:500px" />
            <br />
            <h2>Shopping Successfully!</h2>
            <h4>Your order has been placed successfully. Your order will be shipped within 3 or 5 days.</h4>
            <h4 style="font-weight:600"> Thank you for purchase ! </h4>
            <br />
            <a class="btn btn-dark" href="@Url.Action("Index","Home")">Continue Shopping...</a>
        </div>
    </body>
