
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    p {color: #303030;}
</style>
    <body>
        <div class="banner_inner">

            <div class="services-breadcrumb">
                <div class="inner_breadcrumb">

                    <ul class="short">
                        <li>
                            <a href="~/Home/Index">Home</a>
                            <i>|</i>
                        </li>
                        <li>About us</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <h3 class="tittle-w3layouts text-center my-lg-4 my-4">About us</h3>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h4 style="font-weight:600">
                    1. Thông tin về Panda
                </h4>
                <p>
                    Panda optical tự hào là nhà phân phối mắt kính số 1 Việt Nam
                </p>
                <h5 style="font-weight:600">Giá trị cốt lõi</h5>
                <p>
                    Chúng tôi biết rằng quý khách có rất nhiều sự lựa chọn. Nhưng Panda xin chân thành cảm ơn vì quý khách vì đã và đang tin tưởng, ủng hộ trong thời gian qua.
                    Không chỉ bán sản phẩm, tâm niệm của Panda là giúp khách hàng có thị lực hoàn hảo và an toàn để tận hưởng cuộc sống bằng sản phẩm chính hãng.
                </p>
                <h5 style="font-weight:600">Tiêu chí kinh doanh </h5>
                <p>
                    Với Panda, vượt lên trên một món hàng bình thường, mắt kính như một món quà sức khỏe cho đôi mắt của khách hàng.
                </p>
                <p>
                    Đó là thành quả của nhiều ngày làm việc miệt mài và tôn chỉ phục vụ khách hàng bằng chất lượng tuyệt vời nhất.
                </p>
                <h5 style="font-weight:600">Đến với Panda </h5>
                <p>
                    Trải nghiệm không gian mua sắm hoàn toàn mới, kính được bày trí theo phong cách châu Âu, khách hàng có thể thỏa sức lựa chọn và thử kính không giới hạn.
                </p>
                <p>
                    Luôn có nhân viên tư vấn để bạn chọn được mẫu kính phù hợp nhất với khuôn mặt, tạo điểm nhấn và thay đổi phong cách.
                </p>

                <br />
                <h4 style="font-weight:600">
                    2. Chính sách bảo hành
                </h4>
                <h5 style="font-weight:600">Thời gian bảo hành </h5>
                <p>
                    Bảo hành trọn đời các lỗi về ve, ốc, uốn nắn, vệ sinh làm mới
                </p>
                <p>
                    Gọng kính < 200$ : Bảo hành kỹ thuật 6 tháng.

                </p>
                <p>
                    Gọng kính > 300,000đ : Bảo hành kỹ thuật 1 năm.
                </p>
                <p>
                    Tròng kính chính hãng : Bảo hành kỹ thuật 1 năm lớp phủ váng không bong tróc.
                </p>
                <h5 style="font-weight:600">
                    Những trường hợp bảo hành
                </h5>
                <p> Sản phẩm đang trong thời gian bảo hành và có đăng ký bảo hành.</p>
                <p>  Sản phẩm bảo hành phải đảm bảo sử dụng đúng quy cách theo sự hướng dẫn của nhân viên Công ty hay theo sách hướng dẫn.</p>
                <p>Thời gian bảo hành được bắt đầu từ ngày ghi trên giấy bảo hành và theo quy định của từng sản phẩm.</p>

                <h5 style="font-weight:600">
                    Những trường hợp không bảo hành
                </h5>
                <p>  Sản phẩm hao mòn trong quá trình sử dụng( mờ sơn, đọng mồ hôi, co giãn….)</p>
                <p>Gẫy có dấu hiệu tác động ngoại lực ( cấn, đè, cong, vênh….).</p>
                <p>Sản phẩm không bảo quản đúng cách, tiếp xúc nhiệt đô cao, hóa chất.</p>
                <p>Thời gian bảo hành được bắt đầu từ ngày ghi trên giấy bảo hành và theo quy định của từng sản phẩm.</p>
                <h5 style="font-weight:600">
                    Phương thức bảo hành
                </h5>
                <p> – Quý khách vui lòng mang sản phẩm đến trực tiếp showroom của Panda , mở cử từ 9-21h hằng ngày.</p>
                <p>– Hoặc bảo hành sản phẩm thông qua các hình thức khác(vận chuyển theo đường bưu điện,..) theo sự ưu tiên thỏa thuận từ phía khách hàng, Panda luôn đáp ứng mọi yêu cầu của Quý khách.</p>

                <br />
                <h4 style="font-weight:600">
                    3. Khách hàng thân thiết
                </h4>
                <p>Khách hàng có tài khoản sẽ trở thành thành viên của Panda, khách hàng thân thiết sẽ được hưởng nhiều ưu đãi khi mua hàng ở Panda.</p>
                <p>Khách hàng có tài khoản sẽ được phân loại theo 3 bậc:</p>
                <p style="font-weight:600">     - Khách hàng bậc đồng</p> <p> Khách hàng tạo thành công tài khoản và số điểm tích lũy < 50 điểm</p>
                <p style="font-weight:600">     - Khách hàng bậc vàng</p><p> Khách hàng có tài khoản và số điểm tích lũy từ 50 đến 150 điểm</p>
                <p style="font-weight:600">     - Khách hàng bậc kim cương</p><p> Khách hàng có tài khoản và số điểm tích lũy > 150 điểm</p>
                <p style="font-weight:600; color:red"> *</p><p>
                    Điểm tích lũy được tính theo số tiền mua sản phẩm, mua hàng thành công với sản phẩm có giá 100$, khách hàng
                    sẽ được cộng 1 điểm, số điểm sẽ được cộng dồn vào tài khoản mỗi khi khách hàng hoàn thành đơn hàng.
                </p>
                <p>Khách hàng bậc vàng sẽ được giảm 5% tổng tiền sản phẩm (không tính phí giao hàng)</p>
                <p>Khách hàng bậc kim cương sẽ được giảm 10% tổng tiền sản phẩm (không tính phí giao hàng)</p>




            </div>
            <div class="col-lg-2"></div>
        </div>
       
    </body>

