@model IEnumerable<Website_Panda.Models.Category>

@{
    Layout = null;
}

    <div class="media-mini mt-3"><a href="/Home/AllProduct" style="color:black;    margin-left: 1rem; font-weight:600">All Product</a></div>
@foreach (var item in Model)
{
    
     <div class="media-mini mt-3"><a href="/Home/ProductList/@item.CategoryID" style="color:black;    margin-left: 1rem;"> @Html.DisplayFor(modelItem => item.CategoryName)</a></div>
    
}
