@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<body>
    <br/>

    <div style="text-align:center;">
        <img src="~/Content/Assets/Img/tks1.jpg" style="width:500px;height:500px" />
        <br />
        <h2>Thanks for your message</h2>
        <h4>Panda will reply you soon ^^</h4>
        <br />
        <a class="btn btn-dark" href="@Url.Action("Index","Home")">Continue Shopping...</a>
    </div>
</body>
